<html>

<head>
    <link rel="stylesheet" href="sample.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <!-- The following description imports Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <!-- In v-model="name", the date set in Vue.js is synchronized with the HTML input element -->
        Name<input v-model="name">
        course:<input v-model="course">
        Duration of study:<input v-model="acceptancePeriod">
        <br>
        <!-- select the method to be activated when the button is clicked with button v-on: click = "addStudent",  -->
        <button v-on:click="addStudent">Add the student you entered</button>
    
        <ul>
            <!-- v-for="student in students" here you cut out range of students one by one and assign it to the variable student -->
            <!-- v-bind:key="student.id" is used to ensure uniqueness of each extracted element -->
            <li v-for="student in students" v-bind:key="student.id">
                <!-- Descriptions written in {{}} can be used to expand the expression of Vue.js data -->
                <b>ID:</b> {{student.id}} |
                <b>Name:</b> {{student.name}} |
                <b>Course:</b> {{student.course}} |
                <b>Duration of study:</b> {{student.acceptancePeriod}}
            </li>
        </ul>
    </div>

    <script src="sample.js"></script>
</body>

</html>